header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header__logo{
  display: flex;
  align-items: center;
  height: 28px;
  margin-left: -1.75rem;
}

.header__button {
  border: 2px solid #2A7AE4;
  background-color: transparent;
  box-sizing: border-box;
  color: #2A7AE4;
  font-family: 'Raleway';
  font-weight: 700;
  order: 3;
  margin-bottom: 0.5rem;
}

.header__button:hover {
  background-color: #D4E4FA;
}

.header__logo:first-child{
  transform: scale(60%);
}

.header__search {
  display: none;
}

.header__search--icon2 {
  order: 3;
}

.header__login {
  text-decoration: none;
  font-weight: 600;
  color: #2A7AE4;
  border: 1px solid #2A7AE4;
  box-sizing: border-box;
  padding: 0.75rem 2.96rem;
}

.header__login:hover {
  background-color: #D4E4FA;
}

@media screen and (min-width:0) {

}

@media screen and (min-width:768px) {
  header {
    padding: 2rem;
    justify-content: left; 
  }

  .header__button {
   margin: 0 auto;
  }

  #divBusca {
    background-color: #F5F5F5;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 15px;
    width: 300px;
    padding: 0.5rem 1rem;
    color: #A2A2A2;
  }
  
  #txtBusca::placeholder {
    color: #A2A2A2;
  }
  
  #txtBusca {
    float: left;
    background-color: transparent;
    font-style: regular;
    font-size: 0.80rem;
    border: none;
    width: calc(100% - 1rem - 18px);
  }

  
  .header__search {
    display:flex;
  }
  
  .header__search--icon2 {
    display: none;
  }

  .header__search textarea:focus, input:focus {
    outline: none;
  }
  
  .header__search--icon {
    float: right;
  }
  
  .header__login {
    border: 1px solid #2A7AE4;
    padding: 1rem 4rem;
  }

  .header__login {
    margin-left: auto;
    padding: 0.75rem 4rem;
  }
}

@media screen and (min-width:992px) {
  header {
    padding: 2rem 5.4rem;
  }

  .header__logo{
    height: 50px;
    margin-left: 0;
  }
  
  .header__logo:first-child{
    transform: scale(100%);
  }

  .logo__img {
    margin-right: 0.3rem;
  }
  
  .header__button {
    margin-left: 38%;
   }
  
}